In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from utils.constants import *

In [9]:
main_dataset = pd.read_csv('2019_2020_data.csv', index_col=0)

In [10]:
# main_dataset = main_dataset[['forward_RE','UP','DW']]

In [11]:
prices_SB = main_dataset[['UP', 'DW', 'forward_RE']].apply(
        lambda x: x.iloc[0] if x.iloc[0] != x.iloc[2] else x.iloc[1], axis=1).to_numpy()

main_dataset.insert(2, 'prices_SB', prices_SB)
main_dataset.drop(columns=['UP', 'DW'], inplace=True)
# main_dataset.insert(2, 'prices_diff', main_dataset['prices_SB'] - main_dataset['forward_RE'])
main_dataset.head()

,forward_RE,forward_FC,prices_SB,production_RE,production_FC,Offshore DK2,Offshore DK1,Onshore DK2,Onshore DK1
0,28.32,35.395866,28.32,0.995098,1.000000,0.274701,0.506045,0.680247,0.659599
1,10.07,35.127035,10.07,1.000000,1.000000,0.356135,0.541451,0.796296,0.671060
2,-4.08,-3.707266,-4.08,1.000000,0.776486,0.279045,0.219344,0.728395,0.638109
3,-9.91,-17.375766,-9.91,0.995098,0.935938,0.228013,0.201209,0.698765,0.619771
4,-7.41,-7.552286,-7.41,1.000000,1.000000,0.221498,0.201209,0.690123,0.604011

In [12]:
main_dataset.to_csv('./2019_2020_data.csv', index=True)

## All Day-Ahead

In [53]:
df_gen_2019 = pd.read_csv('./Generation Forecast - Day ahead_201901010000-202001010000.csv', index_col=0)
df_gen_2020 = pd.read_csv('./Generation Forecast - Day ahead_202001010000-202101010000.csv', index_col=0)
df_gen = pd.concat([df_gen_2019, df_gen_2020], axis=0, ignore_index=True)
df_gen.head()

,Scheduled Generation [MW] (D) - BZN|DK2,Scheduled Consumption [MW] (D) - BZN|DK2
0,1412,NaN
1,1277,NaN
2,1215,NaN
3,1182,NaN
4,1177,NaN

In [54]:
df_gen.drop(columns=['Scheduled Consumption [MW] (D) - BZN|DK2'], inplace=True)
df_gen.rename(columns={'Scheduled Generation [MW] (D) - BZN|DK2': 'day_ahead_gen'}, inplace=True)
main_dataset = pd.concat([main_dataset, df_gen], axis=1)
main_dataset.head()

   forward_RE  prices_SB  prices_diff  day_ahead_gen
0       28.32      28.32          0.0           1412
1       10.07      10.07          0.0           1277
2       -4.08      -4.08          0.0           1215
3       -9.91      -9.91          0.0           1182
4       -7.41      -7.41          0.0           1177

In [55]:
df_wind_solar_gen_2019 = pd.read_csv('./Generation Forecasts for Wind and Solar_201901010000-202001010000.csv', index_col=0)
df_wind_solar_gen_2020 = pd.read_csv('./Generation Forecasts for Wind and Solar_202001010000-202101010000.csv', index_col=0)
df_wind_solar_gen = pd.concat([df_wind_solar_gen_2019, df_wind_solar_gen_2020], axis=0, ignore_index=True)
df_wind_solar_gen.head()

,Generation - Solar [MW] Day Ahead/ BZN|DK2,Generation - Solar [MW] Intraday / BZN|DK2,Generation - Solar [MW] Current / BZN|DK2,Generation - Wind Offshore [MW] Day Ahead/ BZN|DK2,Generation - Wind Offshore [MW] Intraday / BZN|DK2,Generation - Wind Offshore [MW] Current / BZN|DK2,Generation - Wind Onshore [MW] Day Ahead/ BZN|DK2,Generation - Wind Onshore [MW] Intraday / BZN|DK2,Generation - Wind Onshore [MW] Current / BZN|DK2
0,0.0,n/e,n/e,328.0,n/e,n/e,645.0,n/e,n/e
1,0.0,n/e,n/e,257.0,n/e,n/e,590.0,n/e,n/e
2,0.0,n/e,n/e,210.0,n/e,n/e,566.0,n/e,n/e
3,0.0,n/e,n/e,204.0,n/e,n/e,559.0,n/e,n/e
4,0.0,n/e,n/e,204.0,n/e,n/e,557.0,n/e,n/e

In [56]:
df_wind_solar_gen.drop(columns=['Generation - Solar  [MW] Intraday / BZN|DK2','Generation - Solar  [MW] Current / BZN|DK2','Generation - Wind Offshore  [MW] Intraday / BZN|DK2','Generation - Wind Offshore  [MW] Current / BZN|DK2','Generation - Wind Onshore  [MW] Intraday / BZN|DK2','Generation - Wind Onshore  [MW] Current / BZN|DK2'], inplace=True)

In [57]:
df_wind_solar_gen.rename(columns={'Generation - Solar  [MW] Day Ahead/ BZN|DK2': 'day_ahead_solar_gen','Generation - Wind Offshore  [MW] Day Ahead/ BZN|DK2': 'day_ahead_wind_offshore_gen','Generation - Wind Onshore  [MW] Day Ahead/ BZN|DK2': 'day_ahead_wind_onshore_gen'}, inplace=True)
main_dataset = pd.concat([main_dataset, df_wind_solar_gen], axis=1)
main_dataset.head()

,forward_RE,prices_SB,prices_diff,day_ahead_gen,day_ahead_solar_gen,day_ahead_wind_offshore_gen,day_ahead_wind_onshore_gen
0,28.32,28.32,0.0,1412,0.0,328.0,645.0
1,10.07,10.07,0.0,1277,0.0,257.0,590.0
2,-4.08,-4.08,0.0,1215,0.0,210.0,566.0
3,-9.91,-9.91,0.0,1182,0.0,204.0,559.0
4,-7.41,-7.41,0.0,1177,0.0,204.0,557.0

In [58]:
df_load_2019 = pd.read_csv('./Total Load - Day Ahead _ Actual_201901010000-202001010000.csv', index_col=0)
df_load_2020 = pd.read_csv('./Total Load - Day Ahead _ Actual_202001010000-202101010000.csv', index_col=0)

In [59]:
df_load = pd.concat([df_load_2019, df_load_2020], axis=0, ignore_index=True)
df_load.head()

,Day-ahead Total Load Forecast [MW] - BZN|DK2,Actual Total Load [MW] - BZN|DK2
0,1321,1348
1,1296,1291
2,1242,1240
3,1211,1224
4,1208,1224

In [60]:
df_load = df_load[['Day-ahead Total Load Forecast [MW] - BZN|DK2']]
df_load.rename(columns={'Day-ahead Total Load Forecast [MW] - BZN|DK2': 'day_ahead_load'}, inplace=True)
main_dataset = pd.concat([main_dataset, df_load], axis=1)
main_dataset.head()

,forward_RE,prices_SB,prices_diff,day_ahead_gen,day_ahead_solar_gen,day_ahead_wind_offshore_gen,day_ahead_wind_onshore_gen,day_ahead_load
0,28.32,28.32,0.0,1412,0.0,328.0,645.0,1321
1,10.07,10.07,0.0,1277,0.0,257.0,590.0,1296
2,-4.08,-4.08,0.0,1215,0.0,210.0,566.0,1242
3,-9.91,-9.91,0.0,1182,0.0,204.0,559.0,1211
4,-7.41,-7.41,0.0,1177,0.0,204.0,557.0,1208

In [62]:
main_dataset = main_dataset[:-2*HOURS_PER_DAY]
main_dataset.isnull().sum()

forward_RE                      0
prices_SB                       0
prices_diff                     0
day_ahead_gen                   0
day_ahead_solar_gen            48
day_ahead_wind_offshore_gen    48
day_ahead_wind_onshore_gen     48
day_ahead_load                  0
dtype: int64

In [63]:
#Interpolating missing values
main_dataset.interpolate(method='linear', inplace=True)

forward_RE                     0
prices_SB                      0
prices_diff                    0
day_ahead_gen                  0
day_ahead_solar_gen            0
day_ahead_wind_offshore_gen    0
day_ahead_wind_onshore_gen     0
day_ahead_load                 0
dtype: int64

In [64]:
main_dataset.to_csv('./2020_data_with_imbalance.csv', index=True)

In [3]:
dataframe = pd.read_csv('./2020_data_with_imbalance.csv', index_col=0)
dataframe.head()

,forward_RE,prices_SB,prices_diff,day_ahead_gen,day_ahead_solar_gen,day_ahead_wind_offshore_gen,day_ahead_wind_onshore_gen,day_ahead_load
0,28.32,28.32,0.0,1412,0.0,328.0,645.0,1321
1,10.07,10.07,0.0,1277,0.0,257.0,590.0,1296
2,-4.08,-4.08,0.0,1215,0.0,210.0,566.0,1242
3,-9.91,-9.91,0.0,1182,0.0,204.0,559.0,1211
4,-7.41,-7.41,0.0,1177,0.0,204.0,557.0,1208

In [5]:
data_2019 = dataframe[:8760]
data_2020 = dataframe[8760:]

In [8]:
print("Percentage of time when forward and imbalance prices are equal:",
      data_2019[data_2019['forward_RE'] == data_2019['prices_SB']].shape[0] / data_2019.shape[0] * 100, "%")
print("Percentage of time when imbalance price is higher than forward price:",
      data_2019[data_2019['forward_RE'] < data_2019['prices_SB']].shape[0] / data_2019.shape[0] * 100, "%")
print("Percentage of time when imbalance price is lower than forward price:",
      data_2019[data_2019['forward_RE'] > data_2019['prices_SB']].shape[0] / data_2019.shape[0] * 100, "%")
print("Percentage of time when forward price is lower than hydrogen price:",
      data_2019[data_2019['forward_RE'] < PRICE_H].shape[0] / data_2019.shape[0] * 100, "%")
print("Percentage of time when imbalance price is lower than hydrogen price:",
      data_2019[data_2019['prices_SB'] < PRICE_H].shape[0] / data_2019.shape[0] * 100, "%")
print("Percentage of time when forward price is negative:",
      data_2019[data_2019['forward_RE'] <= 0].shape[0] / data_2019.shape[0] * 100, "%")
print("Percentage of time when imbalance price is negative:",
      data_2019[data_2019['prices_SB'] <= 0].shape[0] / data_2019.shape[0] * 100, "%")

Percentage of time when forward and imbalance prices are equal: 30.216894977168952 %
Percentage of time when imbalance price is higher than forward price: 27.636986301369866 %
Percentage of time when imbalance price is lower than forward price: 42.14611872146119 %
Percentage of time when forward price is lower than hydrogen price: 30.14840182648402 %
Percentage of time when imbalance price is lower than hydrogen price: 37.36301369863014 %
Percentage of time when forward price is negative: 1.095890410958904 %
Percentage of time when imbalance price is negative: 2.636986301369863 %

In [9]:
print("Percentage of time when forward and imbalance prices are equal:",
      data_2020[data_2020['forward_RE'] == data_2020['prices_SB']].shape[0] / data_2020.shape[0] * 100, "%")
print("Percentage of time when imbalance price is higher than forward price:",
      data_2020[data_2020['forward_RE'] < data_2020['prices_SB']].shape[0] / data_2020.shape[0] * 100, "%")
print("Percentage of time when imbalance price is lower than forward price:",
      data_2020[data_2020['forward_RE'] > data_2020['prices_SB']].shape[0] / data_2020.shape[0] * 100, "%")
print("Percentage of time when forward price is lower than hydrogen price:",
      data_2020[data_2020['forward_RE'] < PRICE_H].shape[0] / data_2020.shape[0] * 100, "%")
print("Percentage of time when imbalance price is lower than hydrogen price:",
      data_2020[data_2020['prices_SB'] < PRICE_H].shape[0] / data_2020.shape[0] * 100, "%")
print("Percentage of time when forward price is negative:",
      data_2020[data_2020['forward_RE'] <= 0].shape[0] / data_2020.shape[0] * 100, "%")
print("Percentage of time when imbalance price is negative:",
      data_2020[data_2020['prices_SB'] <= 0].shape[0] / data_2020.shape[0] * 100, "%")

Percentage of time when forward and imbalance prices are equal: 38.64468864468865 %
Percentage of time when imbalance price is higher than forward price: 21.520146520146522 %
Percentage of time when imbalance price is lower than forward price: 39.83516483516483 %
Percentage of time when forward price is lower than hydrogen price: 69.72298534798534 %
Percentage of time when imbalance price is lower than hydrogen price: 72.01236263736264 %
Percentage of time when forward price is negative: 1.0645604395604396 %
Percentage of time when imbalance price is negative: 6.593406593406594 %